
{% set labelName = content.field_label.0['#context']['value'] %}

<div class="mini-form__num-inp">
  <div class="mini-form__num-inp__inp-wrapper">
    <input type="number" 
    placeholder="{{content.field_placeholder.0}}"  
    {% if content.field_min_value.0 != null %} 
      min="{{content.field_min_value.0}}" 
    {% endif %} 
    {% if content.field_max_value.0 != null %} 
      max="{{content.field_max_value.0}}"
    {% endif %}
    {% if labelName != null %}
      name="{{ labelName|lower }}"
    {% endif %} >
  </div>

  <p class="mini-form__num-inp__feedback"> {{'El valor introducido no es válido'|t}}</p>

  {% if labelName != null %}
    <p class="mini-form__num-inp__label">{{ labelName }}</p>
  {% endif %}
</div>
